# If not running interactively, don't do anything
case $- in
    *i*) ;;
      *) return;;
esac


# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
[[ ! -z ${HOME} ]] && export HISTFILE="${HOME}/.bash_history"
export SAVEHIST="${HISTSIZE}"

# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Prefer US English (if it exists) and use UTF-8.
if [[ $(locale -a | grep en_US) ]]; then
    export LANG='en_US.UTF-8';
    export LC_ALL=en_US.UTF-8;
    export LANGUAGE="en_US:en"
fi

# Fix for tmux on linux.
case "$OSTYPE" in
    linux*)  export EVENT_NOEPOLL=1 ;;
esac

# Not all servers have terminfo for rxvt-256color. :<
if [ "${TERM}" = 'rxvt-256color' ] && ! [ -f '/usr/share/terminfo/r/rxvt-256color' ] && ! [ -f '/lib/terminfo/r/rxvt-256color' ] && ! [ -f "${HOME}/.terminfo/r/rxvt-256color" ]; then
    export TERM='rxvt-unicode'
fi

